.container-app-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    
    padding: 5rem 2rem;
    
    text-align: center;
    font-size: 1.5rem;
}

.container-app-main h2 {
    color: var(--font-color-main);
}

.container-app-main h3 {
    color: var(--font-color-second);
}

.message {
    font-size: 1.4rem;
    margin-top: 1vh;
    color: var(--font-color-second);
}

.box {
    display: inline-block;
    border: 2px solid var(--color-accent);
    
    font-size: 6rem;
    color: var(--font-color-main);

}

.btn-play-again {
    padding: 1rem;
    border: none;
    background: var(--font-color-main);
    color: var(--bg-color-main);
    font-size: 1rem;
    font-weight: 700;
    border-radius: 15px;
    margin-top: 5vh;
    cursor: pointer;
}

ul {
    list-style-type: disc; 
    text-align: start;
    padding: 5vw;
}

ul li {
    font-size: 1.3rem;
    margin-top: 1vh;
}

h4 {
    margin: 5vh 0 0 0;
    font-size: 1.5rem;
    font-weight: 600;
}
h4 i {
    margin: 0 1rem 0 0;
}

@media screen and (min-width: 1024px) {
    .container-app-main {
        font-size: 1.6rem;
        padding: 5rem 0;
    }
    .message {
        font-size: 1.5rem;
        margin-top: 3rem;
    }
    .box {
        font-size: 8rem;
    }
    ul li {
        font-size: 1.8rem;
    }
    h4 {
        font-size: 2.2rem;
    } 
  }