@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
@import url('reset.css');
@import url('header.css');
@import url('app-main.css');
@import url('footer.css');

[data-context="day"] {
  --bg-color-main: #EDEDED;
  --font-color-main: #464646;
  --font-color-second: #959595;
  --footer-bg-color: #FDFDFD;
  --color-accent: #002F50;
}

[data-context="night"] {
  --bg-color-main: #202020;
  --font-color-main: #EDEDED;
  --font-color-second: #959595;
  --footer-bg-color: #272727;
  --color-accent: #002F50;
}

* {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    user-select: none;
}

body {
    background-color: var(--bg-color-main);
}